body
{
    color: #2f2f2f;
}
.login{
    background: #2f2f2f;
}

h1 {
    font-family: 'quicksand';
    font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}


/* ############ header ############## */
.navbar {
    background: url("../img/backgroundHeader.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}
.navbar h1 {
    color:white;
    font-size: 4em;
    text-align: center;
}

.logo {
    margin : 2em auto;
}

.searchline a,
.searchline .searchbar,
.searchline .dropdown{
    display: inline-block;
    margin: 0 auto;
}
.searchline .glyphicon {
	padding: 0 10px;
}
.searchline .well {
	width: 100%;
}
.searchline .searchbar {
    width: 80%;
}