body
{
    color: #2f2f2f;
}
.login{
    background: #2f2f2f;
}

h1 {
    font-family: 'quicksand';
    font-weight: bold;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

/* ############ Classe générales ########## */
/* Centre verticalement */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* ############ header ############## */
.navbar {
    background: url("../img/backgroundHeader.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
}
.navbar h1 {
    color:white;
    font-size: 4em;
    text-align: center;
}

.navbar .logo {
    margin : 2em auto;
}

.searchline a,
.searchline .searchbar,
.searchline .dropdown{
    display: inline-block;
    margin: 0 auto;
}
.searchline .glyphicon{
    margin: 0 auto;
    font-size: 2.2em;
}
.header {
	position: relative;
}

.navbar .round {
    width: 7em;
    height: 7em;
    background-color: white;
    border-radius: 5em;
    position: absolute;
    top: 2.5em;
    right: 3em;
    overflow: hidden;
}
.navbar .round .glyphicon-user {
	font-size: 7em;
    top: 0.1em;
}